<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="consumerIp" value ="172.20.10.3" />
		<add key="consumerPort" value ="53654" />
	</appSettings>
</configuration>